<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Stock Checker</title>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<!--非同期処理用の ajax、企業検索時に用いる-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

	<!-- グラフ描画用の Chart.js とプラグイン、依存ライブラリの moment.js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
	<script type="text/javascript"
		src="https://github.com/nagix/chartjs-plugin-colorschemes/releases/download/v0.2.0/chartjs-plugin-colorschemes.min.js"></script>
</head>

<body>
	<div class="row">
		<div class="col-sm-12 col-md-7">
			<!-- 企業検索パネル -->
			<div class="card">
				<h5 class="card-header">Search Company</h5>
				<div class="card-body">

					<div class="form-group">
						<div class="search-area">

							<!-- キーワード入力フォーム -->
							<input class="form-control col-md-7" type="text" id="symbol"
								placeholder="symbol or company_name..">

							<div class="search-result">
								<!-- 検索結果表示エリア -->
								<div class="search-result__hit-num"></div>
								<div id="search-result__list"></div>
							</div>
						</div>
					</div>
					<!-- グラフ描画、リセットボタン -->
					<button class="btn btn-light" id="form-button">Display stock price</button>
					<button class="btn btn-light" id="reset-button">Reset</button>

				</div>
			</div>

			<!-- グラフ描画用キャンバス -->
			<div id="period_buttons" class="btn-group" role="group" hidden>
				<button class="btn btn-link" id="p1d" value="1d">1d &#x21BB;</button>
				<button class="btn btn-link" id="p1m" value="1m">1m</button>
				<button class="btn btn-link" id="p3m" value="3m">3m</button>
				<button class="btn btn-link" id="p6m" value="6m">6m</button>
				<button class="btn btn-link" id="p1y" value="1y">1y</button>
				<button class="btn btn-link" id="p2y" value="2y">2y</button>
				<button class="btn btn-link" id="p5y" value="5y">5y</button>
			</div>

			<div id="myChart_canvas"></div>

		</div>

		<!-- 企業検索処理 -->
		<script type="text/javascript" src="search.js"></script>

		<div class="col-sm-12 col-md-5">
			<!-- ダッシュボードパネル -->
			<div class="card">
				<h5 class="card-header">Dashboard</h5>
				<div class="card-body">
					<div id="company-list"></div>
				</div>
			</div>
		</div>



		<!-- ボタンクリック時の処理 -->
		<script type="text/javascript" src="buttons.js"></script>

		<!-- 株価取得 -->
		<script type="text/javascript" src="price.js"></script>
		<!-- ダッシュボード表示 -->
		<script type="text/javascript" src="dashboard.js"></script>
		<!-- グラフ描画処理 -->
		<script type="text/javascript" src="graph.js"></script>

		<!--ダイアログの内容-->
		<dialog id="dialog">
			<h5>Company Information</h5>
			<div id="detail_table"></div>
			<div>
				<p>
					<button type="button" class="btn btn-light"
						onclick="this.parentNode.parentNode.parentNode.close()">Register</button>
					<button type="button" class="btn btn-light"
						onclick="this.parentNode.parentNode.parentNode.close()">Close</button>
				</p>
			</div>
		</dialog>
	</div>
</body>

</html>